<div class="row" align="center">
  <div class="col-md-4">
    <br/>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">Leadott beszámolók</h1>
      </div>
      <div class="panel-body" id="beszamolo-panel">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist" align="center">
            <li role="presentation" class="active"><a href="#elbiralatlan" aria-controls="elbiralatlan" role="tab" data-toggle="tab">Elbírálatlan</a></li>
            <li role="presentation"><a href="#elfogadott" aria-controls="elfogadott" role="tab" data-toggle="tab">Elfogadott</a></li>
            <li role="presentation"><a href="#elutasitott" aria-controls="elutasitott" role="tab" data-toggle="tab">Elutasított</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="elbiralatlan">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th align="center">Kör neve</th>
                    <th align="center">Állapot</th>
                  </tr>
                </thead>
                <tbody>
                  <% @user1.tender.reports.each do |reports| %>
                  <% if reports.state == "elbiralatlan" %>
                  <tr>
                    <td align="center"><%= @user1.name %></td>
                    <td align="center"><%= reports.circle %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="elfogadott">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th align="center">Kör neve</th>
                    <th align="center">Állapot</th>
                  </tr>
                </thead>
                <tbody>
                  <% @user1.tender.reports.each do |reports| %>
                  <% if reports.state == "elfogadott" %>
                  <tr>
                    <td align="center"><%= @user1.name %></td>
                    <td align="center"><%= reports.circle %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="elutasitott">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th align="center">Kör neve</th>
                    <th align="center">Állapot</th>
                  </tr>
                </thead>
                <tbody>
                  <% @user1.tender.reports.each do |reports| %>
                  <% if reports.state == "elutasitott" %>
                  <tr>
                    <td align="center"><%= @user1.name %></td>
                    <td align="center"><%= reports.circle %></td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <br/>
    <div class="panel panel-info">
      <div class="panel-heading" align="left">
        <h1 class="panel-title">Beszámoló</h1>
      </div>
      <div class="panel-body" align="left">
        <div class ="row">
          <div class="col-md-3">
            <b>Név:</b>
          </div>
          <div class="col-md-3">
            <b>Kör:</b>
          </div>
        </div>
        <div class ="row">
          <div class="col-md-3">
            Trab Antal
          </div>
          <div class="col-md-3">
            Lanosch
          </div>
        </div>
        </br>
        <b>Beszámoló:</b></br>
        <textarea readonly rows="15" style="width:100%"><%= @user1.tender.reports[1].text %></textarea>
        </br>
        <form>
          <div align="right">
            <select>
              <option>Elfogadás</option>
              <option>Elutasítás</option>
            </select>
          </div>
        </form>
        <b>Megjegyzések:</b></br>
        <div class="panel panel-default">
          <div class="panel-heading">Körvezető Péter - 2014.02.02. 16:02</div>
          <div class="panel-body">
            Még írd bele ezt meg azt! :)
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Pályázó Anna - 2014.02.02. 18:02</div>
          <div class="panel-body">
            Jó lesz így!
          </div>
        </div>
        <textarea rows="2" style="width:100%"></textarea>
        </br>
        <div class="btn-group btn-right pull-right" role="group" aria-label="...">
          <button type="button" class="btn btn-primary">Mégse</button>
          <button type="button" class="btn btn-primary">Mentés</button>
        </div>
      </div>
    </div>
  </div>
</div>