<script type="text/javascript">
  tinymce.init({
  selector: ".reporttext",
  plugins: [
  "advlist autolink lists print preview ",
  "searchreplace visualblocks code fullscreen paste"
  ],
  toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent"
  });
</script>
<div class="row" align="center">
  <div class="col-md-4">
    <br/>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">Beszámolóid</h1>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th align="center">Kör neve</th>
              <th align="center">Állapot</th>
            </tr>
          </thead>
          <tbody>
            <% @reports.each do |r| %>
            <tr>
              <td align="center"><%= r.group.name %></td>
              <td align="center"><%= r.state %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <button type="button" class="btn btn-primary col-md-6 pull-right" href="#new_report" data-toggle="modal">Új beszámoló</button>
    <div class="modal fade" id="new_report">
      <div class="modal-dialog">
        <div class="modal-body" >
          <div class="panel panel-info">
            <div class="panel-heading" align="left">
              <a class="close" data-dismiss="modal">&times;</a>
              <h1 class="panel-title">Új beszámoló</h1>
            </div>
            
            <div class="panel-body" align="left">
              <%= form_for :new_r, url: {action:"new_report"} do |f| %>
              <b>Kör neve: </br></br>
              <select name="group" id=":group">
                <% @user.tender.reports.each do |reports| %>
                  <option value=<%= reports.group.id %>><%= reports.group.name %></option>
                <% end %>
              </select>

              <b>Beszámoló:</b></br>
              <%= f.text_area :text, class: 'form_-control' %>

              </br>
              <b>Megjegyzések:</b></br>
              </br>
              
              <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-primary" data-dismiss="modal">Mégse</a>
                <%= f.submit 'Mentés', class: "btn btn-primary col-md-6" %>
              </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <br/>
    <div class="panel panel-info">
      <div class="panel-heading" align="left">
        <h1 class="panel-title">Beszámoló szerkesztése</h1>
      </div>
      <div class="panel-body" align="left">
        <b>Kör neve: </b></br>
        <form>
          <select name="selected_report" id="i">
            <% @user.tender.reports.each do |reports| %>
            <tr>
              <td align="center"><%= reports.group.name %></td>
            </tr>
            <option value='<%= reports.id %>'><%= reports.group.name %></option>
            <% end %>
          </select>
          </br></br>
        </form>
        <b>Beszámoló:</b></br>
        <textarea class="reporttext"><%= @selected_report.text %></textarea>
        </br>
        <b>Megjegyzések:</b></br>
        <% @comments.each do |comments| %>
        <div class="panel panel-default">
          <div class="panel-heading"><%= comments.user.name %> -  <%= comments.created_at %> </div>
          <div class="panel-body">
            <%= comments.text %>
          </div>
        </div>
        <% end %>
        <textarea rows="2" style="width:100%"></textarea>
        </br>
        <div class="btn-group pull-right" role="group" aria-label="...">
          <%= link_to "Mégse", '/mytender/show', class: "btn btn-primary" %>
          <%= link_to "Mentés", '/mytender/show', class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>