<div class="row" align="center">
  <div class="col-md-9">
    <br/>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">Értékelések</h1>
      </div>
      <div class="panel-body">
        <p align="right">Bíráló szervezet: RVT</p>
        <table class="table table-hover">
          <thead>
          <tr>
            <th align="center">Név</th>
            <% @selected_user.tender.users.each do |reviewer| %>
              <th align="center">Bíráló<%= reviewer.id %></th>
            <% end %>
            <th align="center">Átlag</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td align="center"><%= user[1] %></td>
              <% TenderRating.where(:tender_id => User.find(user[0]).tender.id ).each do |rating| %>
                <td align="center"><%= rating.rating %></td>
              <% end %>
              <!-- TODO: Average column -->
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <br/>
    <div class="input-group col-md-12">
      <input type="text" class="form-control input-md" placeholder="Keresés..." />
        <span class="input-group-btn">
          <button class="btn btn-info btn-md" type="button">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </span>
    </div>
    <br/>
    <div>
      <%= image_tag("portrait.jpg", height: 190, align: "center") %>
    </div>
    <br/>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">Adatok</h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6" align="left">
            <p>Név: </p>
          </div>
          <div class="col-md-6" align="right">
            <p><%= @selected_user.name %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" align="left">
            <p>Neptun: </p>
          </div>
          <div class="col-md-6" align="right">
            <p><%= @selected_user.neptun %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" align="left">
            <p>Kezdés éve: </p>
          </div>
          <div class="col-md-6" align="right">
            <p><%= @selected_user.year %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" align="left">
            <p>Képzéskód: </p>
          </div>
          <div class="col-md-6" align="right">
            <p><%= @selected_user.training_code %></p>
          </div>
        </div>
        <br/>
        <div align="left">
          <p>Tevékenység rövid kivonata: </p>
          <div>
            <p><%= @selected_user.tender.activity_outline %></p>
          </div>
        </div>

        <button type="button" class="btn btn-default" href="#show_reports" data-toggle="modal">Beszámolók megtekintése</button>
        <div class="modal fade" id="show_reports">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3><%= @selected_user.name %> beszámolói</h3>
              </div>
              <div class="modal-body">
                <div role="tabpanel">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs">
                    <% @selected_user_reports.each_with_index do |report, index| %>
                        <li role="presentation" class="<%= "active" if index == 0 %>">
                          <a href="#<%= report.group.id %>" aria-controls="<%= report.group.id %>" role="tab" data-toggle="tab">
                            <%= report.group.name %>
                          </a>
                        </li>
                    <% end %>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <% @selected_user_reports.each_with_index do |report, index| %>
                        <div role="tabpanel" class="tab-pane <%= "active" if index == 0 %>" id="<%= report.group.id %>">
                          <br/>
                          <p align="left"><%= report.text %></p>
                        </div>
                    <% end %>
                  </div>
                  <br/>
                </div>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Bezárás</a>
              </div>
            </div>
          </div>
        </div>

        <!--<%= link_to "Beszámolók megtekintése", '', class: "btn btn-default" %>-->
      </div>
    </div>
    <%= link_to "Véglegesítés", '/evaluation/finalize', class: "btn btn-primary col-md-12" %>
    <br/><br/>
    <%= link_to "Összesített nézet", '/evaluation/showtotal', class: "btn btn-primary col-md-12" %>
    <!--<button type="button" class="btn btn-primary col-md-12">Véglegesítés</button>
    <br/><br/>
    <button type="button" class="btn btn-primary col-md-12">Összesített nézet</button>-->
  </div>
</div>