<div class="row" align="center">
  <div class="col-md-9">
    <br/>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">Értékelések</h1>
      </div>
      <div class="panel-body">
        <p align="right">Bíráló szervezet: RVT</p>
        <table class="table table-hover">
          <thead>
          <tr>
            <th align="center">Név</th>
            <% @user1.tender.ratings.each do |reviewer, rating| %>
              <th align="center">Bíráló<%= reviewer %></th>
            <% end %>
            <th align="center">Átlag</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td align="center"><%= user.name %></td>
              <% user.tender.ratings.each do |reviewer, rating| %>
                <td align="center"><%= rating %></td>
              <% end %>
              <td align="center"><%= user.tender.ratings.values.inject(0.0) { |sum, el| sum + el } / user.tender.ratings.values.size %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <br/>
    <div class="input-group col-md-12">
      <input type="text" class="form-control input-md" placeholder="Keresés..." />
        <span class="input-group-btn">
          <button class="btn btn-info btn-md" type="button">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </span>
    </div>
    <br/>
    <div>
      <%= image_tag("portrait.jpg", height: 190, align: "center") %>
    </div>
    <br/>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">Adatok</h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6" align="left">
            <p>Név: </p>
          </div>
          <div class="col-md-6" align="right">
            <p><%= @user1.name %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" align="left">
            <p>Neptun: </p>
          </div>
          <div class="col-md-6" align="right">
            <p><%= @user1.neptun %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" align="left">
            <p>Kezdés éve: </p>
          </div>
          <div class="col-md-6" align="right">
            <p><%= @user1.year %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" align="left">
            <p>Képzéskód: </p>
          </div>
          <div class="col-md-6" align="right">
            <p><%= @user1.training_code %></p>
          </div>
        </div>
        <br/>
        <div align="left">
          <p>Tevékenység rövid kivonata: </p>
          <div>
            <p><%= @user1.activity_outline %></p>
          </div>
        </div>
        <button type="button" class="btn btn-default">Beszámolók megtekintése</button>
      </div>
    </div>
    <button type="button" class="btn btn-primary col-md-12">Véglegesítés</button>
    <br/><br/>
    <button type="button" class="btn btn-primary col-md-12">Összesített nézet</button>
  </div>
</div>