<div class="row" align="center">
  <div class="col-md-10 col-md-offset-1">
  <div class="col-md-5">

    <br/>

    <div>
      <%= image_tag("portrait.jpg", height: 190, align: "center") %>
    </div>

    <br/>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">Adatok</h1>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-5" align="left">
            <p>Felhasználónév: </p>
          </div>
          <div class="col-md-7" align="right">
            <p><%= @user.username %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5" align="left">
            <p>Név: </p>
          </div>
          <div class="col-md-7" align="right">
            <p><%= @user.name %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5" align="left">
            <p>Neptun: </p>
          </div>
          <div class="col-md-7" align="right">
            <p><%= @user.neptun %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5" align="left">
            <p>Kezdés éve: </p>
          </div>
          <div class="col-md-7" align="right">
            <p><%= @user.year %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5" align="left">
            <p>Képzéskód: </p>
          </div>
          <div class="col-md-7" align="right">
            <p><%= @user.training_code %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5" align="left">
            <p>E-mail cím: </p>
          </div>
          <div class="col-md-7" align="right">
            <p><%= @user.email %></p>
          </div>
        </div>
        <br/>
        <div align="left">
          <p>Tevékenység rövid kivonata: </p>
          <div>
            <p><%= @user.tender.activity_outline %></p>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <%= link_to "Módosítás", '/users/edit', class: "btn btn-primary col-md-6 pull-right" %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-7">
    <br/>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">Körtagságok</h1>
      </div>
      <div class="panel-body">
        <table class="table table-hover" width="300">
          <thead>
            <tr>
              <th align="center">Kör neve</th>
              <th align="center">Betöltött poszt</th>
            </tr>
          </thead>
          <tbody>
            <% @relations.each do |relation| %>
              <tr>
                <td align="center"><%= relation.group.name %></td>
                <td align="center"><%= relation.rank %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  </div>
</div>